.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 $main-padding-left-right;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }

}

@media (min-width: 1000px){
  .container {
    max-width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 1200px;
  }

  .contactus .opacity {
    top: 10vh;
    height: 92vh;
  }
}
@media (min-width: 1023px) and (max-width: 1024px) {
  .container {
    max-width: 1200px;
  }

  .contactus .opacity {
    top: 10vh;
    height: 90vh;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 1200px;
  }

  .contactus .opacity {
    top: 9vh;
    height: 90vh;
  }
}

@media (min-width: 1441px) {
  .container{
    padding: 0;
  }
}
