$font-main: 'Mukta', sans-serif;
$font-weight-light: 200;
$font-weight-regular: 500;
$font-weight-bold: 800;

$main-color-coffee: rgb(193, 148, 15);
$main-color-white: rgb(254, 254, 254);
$main-color-black: rgb(0,0,0);

$main-padding-left-right : 14vw;
$main-padding-left-right-big: 18vw;
$main-padding-top-bottom : 2vw;

$font-size-big: 4vh;
$font-size-small: 2vh;
